body{background-color: black;}
h1{color: whitesmoke;}
h1{text-align: center;}
h1{background-color: darkred;}
h1{font-family: Georgia, 'Times New Roman', Times, serif;}
p{text-align: center;}
p{color: aqua;}
p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
p{font-style: italic;}
img{width: 50%;}
img{align-self: center;}
img{border-radius: 20%;}
h2{text-align: center;}
h2{color: whitesmoke;}
h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h2{font-size: large;}
h3{text-align: center;}
h3{color: whitesmoke;}
h3{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h3{font-size: large;}
h4{color: whitesmoke;}
h4{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h4{font-size: large;}
h4{text-align: center;}
h4{background-color: rgb(80, 23, 17);}
h5{color: seashell;}
h5{text-align: center;}
h5{font-family: 'Courier New', Courier, monospace;}




